@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: #333;
    font-family: 'Poppins', sans-serif;
}

.nav {
    align-items: center;
    background-color: #f2f2f2;
    display: flex;
    height: 96px;
    justify-content: space-between;
    padding: 1.5em .5em;

    >ul {
        align-items: center;
        display: flex;
        gap: 1em;
        
        >li {
            font-weight: bold;
            list-style: none;

            >a {
                color: #222;
                text-decoration: none;

                &:hover {
                    color: #555;
                    text-decoration: overline underline;
                }
            }

            >img {
                border-radius: 50%;
            }
        }
    }
    >ul:last-child {
        padding-right: 2em;
    }
}

.main {
    padding: 2em 1em;
}

.card {
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin: 10px;
    padding: 10px;
    position: relative;
    text-align: center;
    transition: 0.3s;
    width: 18rem;

    >p >ion-icon {
        left: .5em;
        position: absolute;
        top: .5em;
    }

    >img {
        border-radius: 50%;
    }
}
